.login {
    background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.login-wrapper {
  width: 500px;
  height: 300px;
  background-color: #FFF;
  border-radius: 30px;
  box-shadow: 0 10px 10px #aaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-wrapper h1 {
  margin-bottom: 30px;
}

.login-wrapper input {
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.login-wrapper button {
  padding: 12px;
  background-color: hsla(33, 94%, 57%, 1);
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-wrapper button:hover {
  background-color: hsla(33, 94%, 47%, 1);
}