.card-container {
    border-radius: 24px;
    border: 1px solid;
    border-image: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.25) 100%) 1;
    background-color: #2C353D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 256px;
    height: 348px;
    padding: 24px;
}

.card-image {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 12px;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-detail {
    display: flex;
    gap: 12px;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    color: #7E95AA;
}

.title-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

#platform-image {
    width: 24px;
    height: 24px;
}

#verifiedBadge {
    height: 21px;
    width: 24px;
}

.title {
    color: white;
    font-size: 24px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}